.custom-body{
    background:rgba(198, 181, 181, 0.064);
    min-height: 100dvh;
    position: relative;
    bottom: 1330px;
    
}


.service-highlight{
    position: relative;
    top: 80px; 
    left: 650px;
}
.text-hightlight{
   position: relative;
   top: 85px;
   left: 400px;
}


.brand_icons{
    display: flex;
    aspect-ratio: 4/2;
    object-fit: contain;
    width: 15%;
    
}
.banner-color{
    background-color: #090981c2;
}
.div-color{
    transform: skew(-2deg, 0deg);  
}

.contact-number{
    border: 1px solid white;
    border-radius: 0.1rem;
    padding: 0.6rem 1rem;
    width: 8rem;
    height: 2.7rem;
    background-color: #090981c2;
    color: white;
    transform: skew(-9deg, 0deg); 

    position: relative;
    left: 70rem;
    top: 3rem;
}

.custom-quote{
    width: 8rem;
    height: 2.7rem;
    background: blue;
    transform: skew(-9deg, 0deg); 

    position: absolute;
    left: 80rem;
    top: 3rem;
}
